* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.search {
    background-image: url(../images/pattern-bg-desktop.png);
    background-size: cover;
}


.map-container {
    position: relative;
}
.leaflet-control-container {
    position: absolute;
    bottom: 55%;
    left: 0;
}